
.wrapper-navmenu{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  .wrap-menu{
    width: 100%;
    margin: 0 auto;
    text-align: center;

    ul.nav{
    list-style:none;
    justify-content: center;
    text-align:center;
    transition: 0.2s ease;
    }
    .nav > li{
        display:inline;
        padding: 5px 30px 5px 30px;
        box-sizing: border-box;
        z-index: 9999;
        font-family: ceramedium;
    }

    .nav li.justin:hover > ul.sub-menu{
      visibility: visible;
    }

    .nav li.sale:hover > ul.sub-menu{
      visibility: visible;
    }

      // .nav li.design:hover > ul.sub-menu{
      //   visibility: visible;
      // }

    .nav li.design-drop:hover > ul.design-container{
      visibility: visible;
    }

    .nav > li .drop-icon{

    }


    ul.sub-menu li{
      width: 75%;
      margin: 0 auto;
      list-style-type: none;
      text-align: left;
      z-index: 9999;
      cursor: pointer;
    }

    ul.sub-menu{
      transition: 0.2s ease;
      position: absolute;
      visibility: hidden;
      display: block;
      margin-top: 15px;
      width: 180px;
      height: 240px;
      padding-top: 13px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);


      li a{
        text-align: left;
        text-decoration: none;
        color: #747474;
        font-size: 14px;
      }

      li a.isActive{
        color: #202027;
      }

      p{
        color: #202027;
        text-align: left;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 10px;
      }

      .title-sub{
        position: relative;
        width: 100%;
        padding-bottom: 25px;
        h1{
          font-size: 28px;
          font-weight: bold;
          margin-top: 15px;
          font-family: gabriela;
        }

        h1.sale-head{
          color: #202027;
        }

        .brush-just{
          position: absolute;
          width: 130px;
          right: 3px;
          top: -15%;
        }
      }
    }


  }

}

.sale{
  color: #a60014;
}



.design-container{
  background-color: #ffffff;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
  visibility: hidden;
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;

  .wrap-design{
    width: 85%;
    margin: 0 auto;
    text-align: left;

    .wrap-title{
      position: relative;
      padding-top: 40px;
      padding-bottom: 20px;

      .brush-designer{
        position: absolute;
        left: 10%;
        top: 30%;
      }

      p{
        font-family: gabriela;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #202027;
      }


    }

    .list-designer{


       #filter-by{
         border-bottom: solid 1px #eeeeee;
         padding-bottom: 20px;

         span{
           font-size: 14px;
           color: #202027;
           font-weight: bold;
           letter-spacing: 1px;

           a{
             cursor: pointer;
           }

           a.filter-disable{
             opacity: 0.5;
             pointer-events: none;
             cursor: none;
           }
         }
       }

       .by-designer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 50px;
	background-color: #F5F5F5;
}

.by-designer::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.by-designer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

       .by-designer{
         padding-top: 20px;
         overflow-y: auto;
         height: 300px;
         .persons{
          font-family: cera;
          padding-bottom: 8px;
           h5{
             font-weight: bold;
             color: #202027;
           }

           ul>li{
             list-style-type: none;

             a{
               text-decoration: none;
               font-family: cera;
               color: #202027;
             }
           }

           .opacity-ls{
             opacity: 0.5;
           }
         }
       }
    }
  }
}

#shop-laf:hover > .container-shop-nav{
  visibility: visible;
}


.container-shop-nav {
    position: absolute;
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    left: 0;
    z-index: 99994;
    overflow: hidden;
    visibility: hidden;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 80px;

    .nav-column{
      width: 20%;
      box-sizing: border-box;
      padding-left: 10%;

      ul{

        li{

          margin-top: 0px;
          text-align: left;

          a{
            font-family: cera;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #202027;
          }
        }
      }

      .title{
        position: relative;

        p{
           font-family: gabriela;
           font-size: 30px;
           font-weight: bold;
           font-style: normal;
           font-stretch: normal;
           line-height: normal;
           letter-spacing: normal;
           color: #202027;
        }
        img{
          position: absolute;
          top: -50%;
          left: 45%;
        }
      }

      .second-sub{
        margin-top: 40px;
      }

    }
}
