$bg_notif: #202027;

.notif-top-home{
  width: 100%;
  background-color: $bg_notif;


  p{
    text-align: center;
    color: #9b9b9b;
    font-family: cera;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 46px;
    letter-spacing: normal;

  }

  p.ver{
    margin-top: auto;
    margin-bottom: auto;
  }

  span{
    font-weight: 500;
    color: #ffffff;
  }
}
