@font-face {
    font-family: cera;
    src: url('Cera_Pro_Regular.otf') format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: gabriela;
    src: url('Gabriela_Stencil_Bold.otf') format('truetype');
    font-weight: bold;
}
